@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animacion */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    /* Duración de la animación */
  }
  
  
  /* Fin de la animacion     */